body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0F172A;
    color: #E5E7EB;
    text-align: center;
}

.container {
    margin-top: 100px;
}

h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

p {
    color: #9CA3AF;
}

input, select {
    margin: 15px;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

button {
    padding: 12px 25px;
    background: #7C3AED;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #6D28D9;
}

.songs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: #111827;
    padding: 15px;
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

iframe {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.mood {
    margin-top: 30px;
}